
/*****************Colors**************/
  /*bright red*/
  /*color:#ae0508;*/

  /*dark brown*/
  /*color:#40302b;*/

  /*dark red*/
  /*color:#822c2f;*/

  /*light brown*/
  /*color:#827769;*/

  /*pony white*/
  /*color:#feffef;*/


/****************************Base Elements*/
html{
  font-size:16px;
  line-height: 1.5em;
  font-family: 'Lora', serif;
  background-color:#40302b;
}

img {
  padding:0;
  margin:0;
  max-width:100%;
}

p{
  max-width: 52em;
}

h1{
  font-family: 'Metamorphous', cursive;
  color:#822c2f;
  font-size: 2rem;
}

h2{
  font-size: 1.3rem;
  font-weight:bold;
}
h1, h2{  
  line-height: initial;
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}

li{
  padding:0;
  margin:0;
  height:auto;
}

/****************************LINKS*/
a{
  text-decoration: none;
}

a:link{
  color:#ae0508;
}
a:hover{
  color:#822c2f
}
a:active{
  color:#feffef;
}
a:visited{
  color:#827769;
}


/****************************layout*/
.ground{
  background-color:#827769;

}

.clearboth:after{
  content: "";
  display: table;
  clear: both;
}

#container > header, #container > footer{
  margin-bottom:2rem;
}

#container{
  margin:0 auto;
  max-width:82em;
  padding:2em;
}

header .ground{
  width:100%;
  margin-top:-4.5em;
}

#logo{
  display:block;
  margin:0 auto;
  width:20rem;
  max-width: 100%;
}

#companyname{
  margin:0;
  padding: 4.5rem .25em .25em .35em;
  color:#feffef;
}

#container > nav{
  margin-bottom: 2rem;
  background-color: #ae0508;
}
#container > nav h1{
  position:absolute;
  top:-999999px;
  left:-999999px;
}
#container > nav ul li{
  display:inline-block;
}
#container > nav ul li a{
  display:inline-block;
  padding: 1em;
}
#container > nav ul li a:link, #container > nav ul li a:visited{
  color:#feffef;
}
#container > nav ul li .active:link, #container > nav ul li .active:visited{
  color:#ae0508;
 }
#container > nav ul li a:hover, #container > nav ul .active a:hover{
  color:#822c2f
}
#container  .active{
  background-color: #feffef;
}


main
{
  background-color: #feffef;
  overflow:auto;
  padding:2rem;
  margin-bottom: 2rem;
}

.footlinks li{
  display: inline;
}

#container footer{
  min-height: 5em;
}


/********************* Forms ******************/
input[type=submit]{
  background-color:#ae0508;
  outline: .5em solid #ae0508;
  padding:.25em .5em;
  font-family: 'Metamorphous', cursive;
  font-size: 1.1em;
  margin: .75rem;
  border-style:none;
}
input[type=submit]:hover{
  outline: .5em solid #822c2f;
}
input[type=submit]:active{
  outline: .5em solid #feffef;
}
input[type=button], .filter{
  font-family: 'Metamorphous', cursive;
  font-size: 1.1em;
  outline: .25em solid #827769;
  padding:.25em .5em;
  background-color:#827769;
  margin:.5rem;
  border-style:none;
}
input[type=button]:hover{
  outline: .25em solid #40302b;
}
input[type=button]:active{
  outline: .25em solid #feffef;
}


/********************* BREAKPOINTS ******************/
/*sidebar breakpoint*/
@media screen and (min-width: 750px){
  section {
    width:64%;
    margin-right: 2%;
    float:left;
  }

  aside {
    width:33%;
    float:left;
  }

  .aesthetic img{
    max-width:24em;
  }
}


/********************* Bar Menu items ******************/
#menuContainer{
  margin-top: 1em;
}

#menuContainer .mix{
  /*initial styles from https://mixitup.kunkalabs.com/ sandbox*/
  display: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  margin-bottom: 4%;
  display: none;
  padding: .5em;
  font-weight: 400;
  vertical-align: top;
/*******************added/changed values*/
  text-align: left;
  -webkit-backface-visibility: hidden;
  font-size: 1.2rem;
  line-height: 1.3em;
  color: rgba(64, 48, 43, 0.9); /*40302b*/
  width:30%;
  border: dashed 2px #40302b;
  height: 4em;
  width: 8em;
  margin: 0 1em 1em 0;
/*  background: rgba(33, 19, 50, 0.4); 827769*/
}

.pence{
  font-weight: bold;
  font-style: italic;
  display:block;
  margin-top:.5rem;
  position: relative;
}
/*#menuContainer .mix:before {
  content: '';
  display: inline-block;
  padding-top: 60%;
  vertical-align: middle;
}*/

/*#menuContainer .mix:after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-right-color: green;*/
/*  top: -20px;
  left: -20px;*/
/*  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
*/}
