
/*****************Colors**************/
  /*bright red*/
  /*color:#ae0508;*/

  /*dark brown*/
  /*color:#40302b;*/

  /*dark red*/
  /*color:#822c2f;*/

  /*light brown*/
  /*color:#827769;*/

  /*pony white*/
  /*color:#feffef;*/



html{
  font-size:16px;
  line-height: 1.5em;
  font-family: 'Lora', serif;
  background-color:#40302b;
}

img {
  padding:0;
  margin:0;
  max-width:100%;
}

p{
  max-width: 52em;
}

h1{
  font-family: 'Metamorphous', cursive;
  color:#822c2f;
  font-size: 2rem;
}

h2{
  font-size: 1.3rem;
  font-weight:bold;
}
h1, h2{  
  line-height: initial;
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}

li{
  padding:0;
  margin:0;
  height:auto;
}


/********************* IDs ******************/
#container>header{
  padding-bottom:2rem;
}

#container footer{
  clear:both;
  padding-bottom:2rem;
}
#container{
  margin:0 auto;
  max-width:82em;
  padding:2em;
}

main
{
    background-color: #feffef;
    overflow:auto;
    padding:2rem;
}
.clearboth:after{
  content: "";
  display: table;
  clear: both;
}

#logo{
  display:block;
  margin:0 auto;
  width:20rem;
  max-width: 100%;
}


header .ground{
  width:100%;
  margin-top:-4.5em;
}
#companyname{
  margin:0;
  padding: 4.5rem .25em .25em .35em;
  color:#feffef;
}
header nav{
  margin-top: 2rem;
  background-color: #ae0508;
}
header nav h1{
  position:absolute;
  top:-999999px;
  left:-999999px;
}
header nav li{
  display:inline-block;
}
header nav li a{
  display:inline-block;
  padding: 1em;
}
header nav li a:link, header nav li a:visited{
  color:#feffef;
}
header nav .active a:link, header nav .active a:visited{
  color:#ae0508;
 }
header nav li a:hover, header nav .active a:hover{
  color:#822c2f
}
header .active{
  background-color: #feffef;
}

/************************** classes ******************/

.ground{
  background-color:#827769;

}

#container footer{
  margin-top:2em;
  min-height: 3em;
}

.footlinks li{
  display: inline;
}


/********************* LINKS ******************/

a{
  text-decoration: none;
}

a:link{
  color:#ae0508;
}
a:hover{
  color:#822c2f
}
a:active{
  color:#feffef;
}
a:visited{
  color:#827769;
}

/********************* Forms ******************/
input[type=submit]{
  background-color:#ae0508;
  outline: .5em solid #ae0508;
  padding:.25em .5em;
  font-family: 'Metamorphous', cursive;
  font-size: 1.1em;
  margin: .75rem;
  border-style:none;
}
input[type=submit]:hover{
  outline: .5em solid #822c2f;
}
input[type=submit]:active{
  outline: .5em solid #feffef;
}
input[type=button]{
  font-family: 'Metamorphous', cursive;
  font-size: 1.1em;
  outline: .25em solid #827769;
  padding:.25em .5em;
  background-color:#827769;
  margin:.5rem;
  border-style:none;
}
input[type=button]:hover{
  outline: .25em solid #40302b;
}
input[type=button]:active{
  outline: .25em solid #feffef;
}


/********************* BREAKPOINTS ******************/
/*sidebar breakpoint*/
@media screen and (min-width: 750px){
  section {
    width:64%;
    margin-right: 2%;
    float:left;
  }

  aside {
    width:33%;
    float:left;
  }

  .aesthetic img{
    max-width:24em;
  }
}
